<div class="row g-5 mb-5">
  <div>
    <h4 class="fw-bold border-bottom pb-3 mb-5">NUTORC</h4>
    <ul class="working_paper list-unstyled">

      <!-- First NUTORC paper -->
      <li class="mb-4">
        <div>
          <strong>Comparing the cost of cirrhosis to other common chronic diseases: A longitudinal study in a large national insurance database</strong>.
        </div>
        <div>
          [ 
          <a href="https://fedecrp.github.io/assets/papers/comparing_the_cost_of_cirrhosis.pdf" target="_blank">Published Version</a> 
          ]
        </div>
      </li>

      <!-- Second NUTORC paper -->
      <li class="mb-4">
        <div>
          <strong>Hospitalization Rates in a Longitudinal US Cohort of Insured Patients with Cirrhosis</strong>.
        </div>
        <div>
          [ 
          <a href="https://fedecrp.github.io/assets/papers/hospitalization_rates.pdf" target="_blank">Working Paper Version</a> 
          ]
        </div>
      </li>

      
    </ul>
  </div>
</div>
