<div class="row g-5 mb-5">
  <div>
    <h4 class="fw-bold border-bottom pb-3 mb-5">Econometrics Work in Progress</h4>
    <ul class="work_in_progress list-unstyled">

      <!-- Second working paper -->
      <li class="mb-4">
        <div>
          <span class="paper-icon" role="img" aria-label="chart">🗺️</span>
          <strong>Manipulation Testing in Boundary Discontinuity Designs</strong>  
          with 
          <a href="https://sites.northwestern.edu/federicobugni/" target="_blank">Federico Bugni</a>, 
          <a href="https://sites.google.com/site/danrestrepom/home" target="_blank">Daniel Restrepo</a>.
        </div>
        <div>
          [ 
          <a href="#" class="abstract-toggle" data-target="absbdd" 
             style="text-decoration: underline; color: #007bff;">Abstract</a> 
          ]
        </div>
        <div id="absbdd" class="abstract-content mt-2" style="display: none; text-align: justify;">
          <p>
          We propose a new manipulation test for a Boundary Discontinuity Design, i.e., an RDD with a d-dimensional running variable. Our approach avoids multivariate density estimation and builds on the intuition that, without manipulation, treated and control units should occur with equal frequency near almost all boundary points. We establish the asymptotic validity of our test under suitable conditions. We assess the finite-sample performance of the test through Monte Carlo simulations and illustrate its usefulness in three empirical applications.  
          </p>
        </div>
      </li>

    </ul>
  </div>
</div>
