---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <!--
    <h3 class="fw-bold">Research</h3>
    //-->
    Welcome to my website!
    <br>I am a fourth-year Economics PhD student at Northwestern, working on econometric theory.
    <br><a href="https://fedecrp.github.io/assets/fc_cv.pdf" target="_blank">CV</a> 
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/wbb.jpg"  width="30%">
  </div>
</div>

<!--
{% include publications.html %}
//-->
{% include working_papers.html %}
{% include work_in_progress.html %}

